{% extends "base.html" %}

{% block title %}Delete Post{% endblock %}

{% block account-controls %}<a href="{% url 'account-dashboard' %}" class="btn btn-outline-light" >My Blogs</a>{% endblock %}

{% block content %}
<div class="container py-5" style="max-width: 600px;">
    <h2 class="mb-4 text-danger">Delete Blog Post</h2>

    <div class="card p-4 shadow">
        <p>Are you sure you want to delete the post:</p>
        <h4>"{{ post.title }}"</h4>

        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger mt-3">Yes, Delete</button>
            <a href="{% url 'blog-detail' post.slug %}" class="btn btn-secondary mt-3">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}