/**************************************************/
/*       Website Header Styles                    */
/**************************************************/

#site-header {
    background-color: rgb(63, 25, 2) !important;

}


/*    End of Website Header Styles                */
/**************************************************/

h1 {
    font-size: 3rem;
    color: rgb(211, 168, 24);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color:rgb(137, 137, 137);
}